<section class="second step">
	<!-- <h2>Следвай стъпките<br /> и разбери с кого си в стая</h2>
	<h3>Стъпка 2: Въведи начин за контакт</h3>
	<form method="POST" name="stepTwoForm" ng-submit="finishRequest()">
		<div class="formRow">
			<label for="email">Email</label>
			<input type="text" id="email" name="email" placeholder="" />
		</div>

		<div class="formRow">
			<label for="social">Facebook или друга социална мрежа</label>
			<input type="text" id="social" name="social" placeholder="" />
		</div>

		<div class="formRow">
			<label for="skype">Skype</label>
			<input type="text" id="skype" name="skype" placeholder="" />
		</div>

		<input type="submit" value="Продължи" class="submitButton" />
	</form> -->
	<h2>{{test.test}}</h2>
</section>